<% layout("/layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3><%= listing.title %></h3>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listingImage"
      />
      <br />

      <div class="card-body">
        <p class="card-text">
          <i>Owned By : <%= listing.owner.username %></i>
        </p>
        <p class="card-text">
          <b>Description : </b> <%= listing.description %>
        </p>
        <p class="card-text"><b>Title : </b><%= listing.title %></p>
        <p class="card-text">
          <b>Price : </b> &#8377; <%= listing.price.toLocaleString('en-IN') %>
        </p>
        <p class="card-text"><b>Location : </b><%= listing.location %></p>
        <p class="card-text"><b>Country : </b><%= listing.country %></p>
      </div>
    </div>
  </div>
  <div class="btns">
    <a
      class="btn btn-dark offset-3 edit-btn"
      href="/listings/<%= listing._id %>/edit"
      >Edit</a
    >

    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
      <button class="btn btn-dark offset-5">DELETE</button>
    </form>
  </div>
  <br /><br />
  <div class="col-8 offset-3 mb-3">
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="10"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please Add some comments for review</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr />

    <p><b>All Reviews</b></p>
    <div class="row">
      <% for(review of listing.reviews){ %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">Tarun Jangra</h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> <b>Stars</b></p>
          <form
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
            class="mb-3"
          >
            <button class="btn btn-sm btn-dark">DELETE</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>
